<ion-header>
  <ion-toolbar>
    <ion-title>
      Artículos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-list-header>
          Frutas y verduras
        </ion-list-header>
    </ion-list>
    
      <ion-card>
        <ion-item>
          <ion-icon name="pin" slot="start" src="assets/cebolla.svg"></ion-icon>
          <ion-label>Cebolla</ion-label>
          <ion-button fill="outline" slot="end">+</ion-button>
        </ion-item>
      
        <ion-card-content>
          Allium cepa, comúnmente conocida como cebolla, es una planta herbácea ...
        </ion-card-content>
      </ion-card>
      
      <ion-card>
          <ion-item>
            <ion-icon name="pin" slot="start" src="assets/durazno.svg"></ion-icon>
            <ion-label>Durazno</ion-label>
            <ion-button fill="outline" slot="end">+</ion-button>
          </ion-item>
        
          <ion-card-content>
              El durazno ayuda a la digestión. Como es una fruta fácil de digerir ...
          </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-item>
              <ion-icon name="pin" slot="start" src="assets/fresa.svg"></ion-icon>
              <ion-label>Fresa</ion-label>
              <ion-button fill="outline" slot="end">+</ion-button>
            </ion-item>
          
            <ion-card-content>
                La fresa tiene un alto contenido de fibra, vitamina C, antioxidantes ...
            </ion-card-content>
          </ion-card>

        <ion-card>
          <ion-item>
            <ion-icon name="pin" slot="start" src="assets/kiwi.svg" ></ion-icon>
            <ion-label>Kiwi</ion-label>
            <ion-button fill="outline" slot="end">+</ion-button>
          </ion-item>
      
          <ion-card-content>
              El kiwi controla la presión sanguínea, controla la actividad del corazón ...
          </ion-card-content>
        </ion-card>
     
        <ion-card>
            <ion-item>
              <ion-icon name="pin" slot="start" src="assets/limon.svg"></ion-icon>
              <ion-label>Limón</ion-label>
              <ion-button fill="outline" slot="end">+</ion-button>
            </ion-item>
        
            <ion-card-content>
                Una de los principales beneficios del limón es su capacidad para alcalinizar el cuerpo ...
            </ion-card-content>
          </ion-card>

          <ion-card>
              <ion-item>
                <ion-icon name="pin" slot="start" src="assets/manzana.svg"></ion-icon>
                <ion-label>Manzana</ion-label>
                <ion-button fill="outline" slot="end">+</ion-button>
              </ion-item>
          
              <ion-card-content>
                  Desde el punto de vista nutritivo la manzana es una de las frutas más completas ...
              </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-item>
                  <ion-icon name="pin" slot="start" src="assets/papa.svg"></ion-icon>
                  <ion-label>Papa</ion-label>
                  <ion-button fill="outline" slot="end">+</ion-button>
                </ion-item>
            
                <ion-card-content>
                    Las papas son una de las fuentes más abundantes de vitaminas B, especialmente la vitamina B6 ...
                </ion-card-content>
              </ion-card>

              <ion-card>
                  <ion-item>
                    <ion-icon name="pin" slot="start" src="assets/pera.svg"></ion-icon>
                    <ion-label>Pera</ion-label>
                    <ion-button fill="outline" slot="end">+</ion-button>
                  </ion-item>
              
                  <ion-card-content>
                      Las peras contienen 12 por ciento y 10 por ciento del valor diario, respectivamente, en vitamina C ...
                  </ion-card-content>
                </ion-card>


                <ion-card>
                    <ion-item>
                      <ion-icon name="pin" slot="start" src="assets/platano.svg"></ion-icon>
                      <ion-label>Plátano</ion-label>
                      <ion-button fill="outline" slot="end">+</ion-button>
                    </ion-item>
                
                    <ion-card-content>
                        La vitamina B6 (piridoxina) en los plátanos da alrededor de un 28% de lo que se necesita diariamente ...
                    </ion-card-content>
                  </ion-card>

                  <ion-card>
                      <ion-item>
                        <ion-icon name="pin" slot="start" src="assets/tomate.svg"></ion-icon>
                        <ion-label>Tomate</ion-label>
                        <ion-button fill="outline" slot="end">+</ion-button>
                      </ion-item>
                  
                      <ion-card-content>
                          El jitomate es buena fuente de fibra, vitamina C y potasio ... 
                      </ion-card-content>
                    </ion-card>
    
</ion-content>
