<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Hola</ion-card-subtitle>
        <ion-card-title>Bienvenido a Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Estoy aprendiendo a desarrollar aplicaciones móviles en Ionic !</p>
        <p>Mi nombre es Diana Castro y soy Ingeniera en Software.</p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
